.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  flex-direction: row;
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 20px 0;
}

.counter__button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50px;
}

.counter__button:hover {
  cursor: pointer;
}

.counter__button:active {
  background-color: #fff;
  color: #000;
}

.counter__value {
  width: 100px;
  margin: 20px 0;
}
