.my-nav {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

a {
  color: #fff;
  text-decoration: none;
}
